:root {
  --white: #ffffff;
  --black: #23272a;
  --blue: #3161e0;
  --grey: #f6f6f6;
  --violet-blue: #8ea1e1;

  --fw-500: 500;
  --fw-600: 600;
  --fw-900: 900;
}

/* #region Common */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Albert Sans', sans-serif;
  color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  width: 100%;
  vertical-align: middle;
}

svg {
  color: var(--grey);
  vertical-align: middle;
}

button {
  cursor: pointer;
}

/* #endregion Common */

/* #region Utility */

.flex {
  display: flex;
}

.container {
  width: 96%;
  max-width: 1140px;
  margin: auto;
}

.flipped_svg {
  transform: rotate(180deg);
}

/* #endregion Utility */

/* #region Debug */

.debug #app_header {
  background-color: #3161e0;
}

.debug #nav_bar {
  height: 40px;
  background-color: orange;
}

.debug #nav_bar > div:first-of-type {
  width: 150px;
  height: 100%;
  border: 1px dotted black;
  background-color: red;
}

.debug #menu {
  width: 600px; 
  height: 100%;
  border: 1px dotted black;
}

.debug #menu > ul {
  height: 100%;
}

.debug #menu > ul > li {
  width: 10%;
  height: 100%;
  border: 1px dotted black;
  background-color: green;
}

.debug #nav_bar > button {
  width: 80px;
  height: 100%;
  border: 1px dotted black;
  background-color: transparent;
  background-color: blue;
}

.debug #hero {
  background-color: orange;
}

.debug #hero > .container > h1 {
  height: 70px;
  border: 1px dotted black;
  background-color: red;
}

.debug #hero > .container > p {
  height: 100px;
  border: 1px dotted black;
  background-color: green;
}

.debug #hero > .container > div {
  height: 70px;
}

.debug #hero > .container > div > * {
  background-color: transparent;
  width: 350px;
  height: 100%;
  border: 1px dotted black;
  background-color: blue;
}

.debug #app_main > section > .container:not(#stay_connected > .container, #hero > .container) {
  height: 550px;
  background-color: orange;
}

.debug #app_main > section > .flex > .section_text {
  height: 100%;
  background-color: red;
  border: 1px dotted black;
}

.debug #app_main > section > .flex > .section_image {
  height: 100%;
  background-color: green;
  border: 1px dotted black;
}

.debug #stay_connected > .container > h2 {
  height: 50px;
  background-color: red;
  border: 1px dotted black;
}

.debug #stay_connected > .container > p {
  height: 60px;
  background-color: green;
  border: 1px dotted black;
}

.debug #stay_connected > .container > div {
  height: 680px;
  background-color: blue;
  border: 1px dotted black;
}

.debug #stay_connected > .container > h3 {
  height: 90px;
  background-color: cyan;
  border: 1px dotted black;
}

.debug #stay_connected > .container > button {
  height: 70px;
  width: 280px;
  border: 1px dotted black;
}

.debug #footer_menu {
  background-color: orange;
}

.debug #footer_menu > div:first-child {
  width: calc(100% - (17% * 4));
}

.debug #footer_menu > div:first-child > h3{
  height: 90px;
  background-color: red;
  border: 1px dotted white;
}

.debug #language {
  height: 20px;
  margin: 30px 0;
}

.debug #language > img {
  height: 100%;
  width: 30px;
}

.debug #language > * {
  background-color: green;
  border: 1px dotted white;
}

.debug #socials > div {
  background-color: blue;
  border: 1px dotted white;
}

.debug #product > h4,
.debug #campaign > h4,
.debug #resources > h4,
.debug #norms > h4 {
  height: 20px;
  background-color: #8ea1e1;
  border: 1px dotted white;
}

.debug #product > ul > li,
.debug #campaign > ul > li,
.debug #resources > ul > li,
.debug #norms > ul > li {
  height: 20px;
  background-color: white;
  border: 1px dotted white;
}

.debug #bottom_section {
  height: 40px;
  background-color: orange;
}

.debug #bottom_section > * {
  height: 100%;
  background-color: red;
  border: 1px dotted white;
}

.debug #bottom_section > div {
  width: 150px;
}

.debug #bottom_section > button {
  width: 100px;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  padding: 30px 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

#nav_bar {
  justify-content: space-between;
  align-items: center;
}

#menu > ul {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: var(--fw-600);
}

#menu > ul > li:nth-child(even) {
  margin: 0 50px;
}

#nav_bar > button {
  background-color: var(--white);
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-weight: var(--fw-600);
}

/* #endregion Header */

/* #region Main */

#hero {
  padding: 255px 0 160px;
  text-align: center;
  background-image: url('./../img/jumbo.png');
  background-size: cover;
  background-position: center;
}

#hero > .container {
  width: 40%;
}

#hero > .container > h1 {
  margin-bottom: 50px;
  color: var(--white);
  font-size: 3.25rem;
}

#hero > .container > p {
  font-size: 1.125rem;
  margin-bottom: 40px;
  color: var(--white);
  font-weight: var(--fw-600);
}

#hero > .container > .flex {
  justify-content: center;
  align-items: center;
}

#hero > .container > .flex > button,
#stay_connected > .container > button {
  font-size: 1.15rem;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  font-weight: var(--fw-600);
}

#download {
  margin-right: 20px;
}

#download > i {
  margin-right: 5px;
}

#open_browser {
  margin-left: 20px;
  color: var(--white);
  background-color: var(--black);
}

#app_main > section:not(#app_main > #hero) {
  padding: 120px 0;
}

#meet,
#stay_connected {
  background-color: var(--grey);
}

#app_main > section > .flex {
  justify-content: space-between;
  align-items: flex-start;
}

#stay_connected > .container {
  text-align: center;
}

#app_main > section > .flex > .section_text {
  width: calc(100% / 3);
}

#app_main > section > .flex > .section_image {
  width: calc((100% / 3) * 2);
}

#app_main > section > .flex > .section_text > h2,
#stay_connected > .container > h2 {
  font-size: 3rem;
  font-weight: var(--fw-900);
  margin-bottom: 40px;
}

#app_main > section > .flex > .section_text > p,
#stay_connected > .container > p {
  font-size: 1.125rem;
  font-weight: var(--fw-600);
}

#stay_connected > .container > div {
  margin: 30px 0 0;
}

#stay_connected > .container > h3 {
  width: 40%;
  margin: auto;
  padding: 50px 0;
  background-image: url(./../img/stars.svg);
  background-size: 100% 100%;
  background-position: center;
}

#stay_connected > .container > button {
  color: var(--white);
  background-color: var(--violet-blue);
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--black);
  padding: 100px 0;
}

#footer_menu {
  align-items: flex-start;
}

#footer_menu > div {
  padding-right: 40px;
}

#footer_menu > div:first-of-type > h3 {
  color: var(--violet-blue);
  font-size: 2rem;
}

#language {
  margin: 30px 0;
}

#language > img {
  margin-right: 5px;
  width: 30px;
}

#language_selection {
  color: var(--white);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#footer_menu i {
  width: 100%;
  vertical-align: middle;
  color: var(--white);
}

#language,
#socials {
  align-items: center;
}

#socials > div {
  width: 25px;
  margin-right: 25px;
}

#product,
#campaign,
#resources,
#norms {
  width: 17%;
}

#product > h4,
#campaign > h4,
#resources > h4,
#norms > h4 {
  color: var(--violet-blue);
}

#product > ul > li,
#campaign > ul > li,
#resources > ul > li,
#norms > ul > li {
  color: var(--white);
  font-weight: var(--fw-500);
}

#product *,
#campaign *,
#resources *,
#norms * {
  line-height: 20px;
  margin-bottom: 20px;
}

#product *:last-child,
#campaign *:last-child,
#resources *:last-child,
#norms *:last-child {
  margin-bottom: 0;
}

#app_footer hr {
  margin: 40px 0;
  border: 1px solid var(--violet-blue)
}

#bottom_section {
  justify-content: space-between;
  align-items: center;
}

#bottom_section > button {
  color: var(--white);
  background-color: var(--violet-blue);
  font-size: 1.15rem;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  font-weight: var(--fw-600);
}

/* #endregion Footer */
